<!-- main container -->
<div id="feedContainer" class="wrapper">
    <!-- search button -->
    <div class="row search-wrapper">
        <div class="input-field col-5 mx-auto mb-3">
            <i class="material-icons prefix pt-3">search</i>
            <input id="searchSurvey" placeholder="Search" type="text">
        </div>
    </div>
    <!-- Survey Card -->
	<div class="row">
	    <div class="col s12 m6">
		{{#each surveyDetails}}
	        <div class="card horizontal surveyCard" id="surveyCard{{survey_id}}">
	            <div class="card-body">
	                <h5 class="card-title">{{survey_name}}</h5>
	                <p class="card-text">{{survey_desc}}</p>
	                <button type="button" id="btn{{survey_id}}" class="btn btn-primary view-survey">
	                    Survey Results
	                </button>
	            </div>
	        </div>
		{{/each}}
	    </div>
	</div>
    <!-- Popup Modal -->
    <div class="modal fade" id="modelSurveyResult" tabindex="-1" role="dialog" aria-labelledby="modelSurveyResultLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" id="modelDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelSurveyResultLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="popChart" width="600" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>
