<<<<<<< HEAD
.container {


}

.jumbotron-image {

	height: 300px;
	width: 300px;
}

.jumbotron-link{
	margin: 10px;
	background-color: #150578;
	font-size: 24px;
}


.survey-buttons {
	padding-right: 15px;
	padding-left: 15px;
	}	

#survey-btn-1 {
	background-color: #150578;
	padding-left: 15px;
}

#survey-btn-2 {
	background-color: #150578;
	padding-right: 15px;
}
=======
/*background-color: #150578;*/
/* ---------- App level styles ---------- */

html, body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;
}

#txtLogo{
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
.wrapper {
  min-height: 90.3%;
  margin-bottom: -50px;
}

a { 
    text-decoration: none;
    color: white;
}

/* ---------- End App level styles ---------- */




/* ---------- Top Nav ---------- */

.login {
    padding-right: 20px;
}

.nav-wrapper {
    background-color: #333;
}

.logo {
    margin-bottom: 10px;
}

.brand-logo {
    margin-bottom: 10px;
}


/* ---------- End Top Nav ---------- */


/* ---------- Bottom Nav ---------- */

.botmLinks {
    padding-right: 20px;
}

.page-footer {
    background: #333!important;
    padding: 0px;
    border-top: 1px solid #a6a6a6;
}

.footer {
    height: 40px;
}

.footer-copyright {
    background-color: #333!important;
}

.push {
    height: 40px;
}


/* ---------- End Bottom Nav ---------- */

/* ---------- submit_survey.html ---------- */

#submitButton {
background-color: #1E90FF;
color: white;

}


.answers{
    color: black;

}

.dots{
    color: black;
}

#modalThankYou { 
    width: 50% !important;
    height: 35% !important; 
    transform: translateY(-50%) !important;
}




/* ---------- End submit_survey.html ---------- */


/* ---------- view_survey.html ---------- */
.surveyCard {
    margin: 5px;
    height: 200px;
    width: 300px;
    float: left;
    margin-bottom: 5px;
}

#modalSurveyResult{
    width: 70% !important;
    height: 100% !important; 
    transform: translateY(-5%) !important;
/*  display: flex;
  position: relative;
  width: auto;*/
}

canvas{
  margin: auto;
  width:70% !important;
  height:70% !important;

}

/* ---------- End view_survey.html ---------- */

/* ---------- media queries ---------- */


/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {}





/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {}





/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {}





/* Extra large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {}





/* ---------- end media queries ---------- */
>>>>>>> af508a2ac27d15cc818310fc414bc3cdd4d82d77
